# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CS2263 CourseProject\cs2236-group4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
